:root {
  --header-main-color: rgb(16, 107, 163);
}

/* .md-header {
  background-color: var(--header-main-color);
}

.md-tabs {
  background-color: var(--header-main-color);
}

/* Handles the menu bar when the screen is on a phone or just small*/
@media only screen and (max-width: 76.1875em) {
  html .md-nav--primary .md-nav__title--site {
    background-color: var(--header-main-color);
  }
}
*/ .custom-post-date {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  /* font-size: small; */
}

#random-quote-block,
.footer-p {
  font-size: 0.64rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

#random-quote-block {
  font-size: 0.75rem;
}

.footer-p > a {
  color: yellow;
}

#refresh-quote {
  font-family: Lucida Sans Unicode;
  margin-left: 8px;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}

.footer-container {
  /* background-color: var(--header-main-color); */
  /* background-color: rgba(0, 0, 0, 0.87); */
  background-color: #16171d;
  color: rgba(255, 255, 255, 0.7) !important;
}
