#random-quote-block,
.footer-p {
  color: white;
  font-size: 0.64rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.footer-p > a {
  color: yellow;
}

.footer-container {
  background-color: black;
}
